main{

    width:650px;
    height: auto; overflow: hidden;
    border-style: double;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    margin: auto;
    background-color: cadetblue;

}

.boton2{
    background-color: red;
    color: white;
    

}

.boton3{
    background-color: orange;
    color: white;
}
